@model IEnumerable<SEGURA_ASSETMENTS.Models.Tarifa>

@{
    ViewData["Title"] = "Tarifas";
}

<h1>Tarifas</h1>

<p>
    <a asp-controller="Tarifa" asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ID_Sede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHabitaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAlojamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Sede)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPersonas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroHabitaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAlojamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarifas)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Tarifa" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.IDTarifa" class="btn btn-danger">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
